.resume {
	padding: 90px 8%;
	margin-left: 40%;
  font-family: 'Montserrat', sans-serif;
	
}
.Rectangle-4-Copy {
	text-align: center;
	vertical-align: center;
	line-height: normal;
	padding: 14px;
  width: 230px;
  height: 49px;
  border-radius: 24.5px;
  border: solid 1px #44424d;
}