.nav-cloud-icon {
  padding-left:50px;
}

.header-nav {
  top:0;
  position: fixed;
  line-height: 28px;
}

.header-nav-positioner {
  top: 0px;
  position: fixed;
}

.header-nav,
.header-nav-positioner {
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(239,239,239,1);
  -moz-box-shadow: 0px 1px 10px 0px rgba(239,239,239,1);
  box-shadow: 0px 1px 10px 0px rgba(239,239,239,1);
}

.header-indicator {
  display: none;
  width: 0px;
  border-top: 2px solid #777777;
  position: absolute;
  bottom: 0px;
  transition: all 0.2s ease-in-out;
}

.header-nav-collapse .header-indicator {
  display: block;
}

.header-nav-fixed {
  position: fixed;
  top: -100px;
  transition: top 0.5s ease-in;
}

.header-nav-fixed.slidein {
  top: 0px;
}

.header-item {
  margin: 0px 60px;
  font-size: 11px;
  font-family: "Montserrat";
  letter-spacing: 3px;
  font-weight: bold;
  color: #44424d;
  opacity: 0.5;
}

.header-item-active {
  opacity: 1;
}

div.navbar-collapse {
  display: flex;
  text-align: center;
}

