.work {
  padding: 28px 5%;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color:inherit;
}

a:hover
{
	 text-decoration:none;
	 cursor:pointer;
}

p {
	margin-top: 16px;
	color: #44424d;
	line-height: 1.5;
	font-size: 16px;
}

p:last-of-type {
	margin-bottom: 20px;
}

.side-bar {
  padding: 12px;
  border-radius: 3px;
  margin-top: 100px;
  position: fixed;
  top: 10px;
  background: #ffffff;
  z-index: 10;
  -moz-transition: all 0.2s ease-out;  /* FF4+ */
  -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.2s ease-out;  /* IE10? */
  transition: all 0.2s ease-out;
}

.side-bar-header {
  max-width: 220px;
  padding-bottom: 24px;
}

.side-bar-item {
  align-items: center;
  display: flex;
  width: 220px;
}

.side-bar-link {
  border-left: solid 2px rgba(68,66,77,0.25);
  padding: 8px 0px 8px 24px;
  opacity: 0.25;
}

.side-bar-index {
  text-align: center;
  color: white;
  min-width: 36px;
}

/**
 * If it's already active, hover should
 * not trigger highlight
 */
.side-bar-link.active-link:hover {
  cursor: default;
  color: black;
}

.active-index {
  color: #44424d;
}

.active-link {
  border-left: solid 2px #44424d;
  color: #44424d;
  opacity: 1;
}

.project-img-div-long {
  width: 100%;
  margin: 40px 0px 10px 0px;
  overflow: visible;
  direction: rtl;
  background-color: #ffffff;
  position: relative;
}

.main {
	margin-left: 456px;
	width:75%;
  margin-top: 100px;
}

.december-2016 {
  height: 49px;
  opacity: 0.52;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #44424d;
}
.section-title {
	margin-top: 72px;
	font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
}
.section-sub-title {
	font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
}
.previous-page {
  display:inline-block;
  position: absolute;
  left: 500px;
}
.next-page {
  display:inline-block;
  position: absolute;
  right: 12%;
  text-align:right
}
.project-index {
  font-size: 10px;
  color: gray;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}


@media (max-width: 767px){
  .side-bar {
    display: none;
  }

  .main {
    margin-left: 10%;
  }

  img {
  	width: 100%;
  }
}
