.work {
  padding: 28px 5%;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color:inherit;
}
.mazev{
  width:700px;
  height:400px;
}
.small_pic{
  width: 1400px;
}
.big_pic{
  width: 2000px;
  margin-right: -300px;
}
a:hover
{
	 text-decoration:none;
	 cursor:pointer;
   color: #44424d;
}

p {
	margin-top: 16px;
	color: #44424d;
	line-height: 1.5;
	font-size: 16px;
}

p:last-of-type {
	margin-bottom: 20px;
}
.fruito-display{
  margin-top: -635px;
  position: relative;
  margin-left: 220px;
}
.rectangle-button{
  margin-top: 30px;
  text-align: center;
  vertical-align: center;
  line-height: normal;
  padding: 14px;
  width: 230px;
  height: 49px;
  border-radius: 24.5px;
  border: solid 1px #44424d;
  position: relative;
}
.rectangle-button-bg{
  position: relative;
  width: 230px;
  height: 49px;
  border-radius: 24.5px;
  background-image:none;
  opacity: 0.12;
  margin-top: -15px;
  margin-left: -15px;
}
.rectangle-resume:hover .rectangle-button-bg,
.rectangle-button:hover .rectangle-button-bg{
  background: #44424d;
}
.btn-text{
  margin-top: -33px;
}
.image_carousel{
  display: block;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.12);
  margin:20px 0;
}
.hide {
  display: none;
}
.side-bar {
  padding: 12px;
  border-radius: 3px;
  margin-top: 100px;
  position: fixed;
  top: 10px;
  left: 24px;
  -moz-transition: all 0.2s ease-out;  /* FF4+ */
  -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
  -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
  -ms-transition: all 0.2s ease-out;  /* IE10? */
  transition: all 0.2s ease-out;
}

.side-bar-header {
  max-width: 220px;
  padding-bottom: 40px;
  font-weight: bold;
  font-family: "Montserrat-Regular","Montserrat";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #44424d;
  margin-left: 36px;
}

.side-bar-item {
  align-items: center;
  display: flex;
  width: 190px;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  color: #44424d;
}

.side-bar-link {
  border-left: solid 2px rgba(68,66,77,0.25);
  padding: 10px 20px;
  opacity: 0.25;
}
.side-bar-link:hover{
  background: -moz-linear-gradient(left, rgba(245,245,245,1) 50%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(245,245,245,1) 50%, rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(245,245,245,1) 50%, rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 600% 600%;
  -webkit-animation: Gradient 1s ease;
  -moz-animation: Gradient 1s ease;
  animation: Gradient 1s ease; 
  opacity: 1;
}

.side-bar-index {
  text-align: center;
  color: white;
  min-width: 36px;
}
.display-tittle{
  font-family: "Montserrat-Regular","Montserrat";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: #44424d;
  margin: 30px 0 15px 0;
  font-weight: bold;
}
/**
 * If it's already active, hover should
 * not trigger highlight
 */
.side-bar-link.active-link:hover {
  cursor: default;
  color: black;
}

.active-index {
  color: #44424d;
}

.active-link {
  border-left: solid 2px #44424d;
  color: #44424d;
  opacity: 1;
}
h5{
  opacity: 0.52;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
}
.content-link{
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
  padding-top: 12px;
  padding-bottom: 16px;
}
.mobile{
  margin-left: -150px;
  width:216px; 
  height:385px;
  float: left;
}
.web{
  margin-left: 110px;
  width: 640px;
  height: 385px;
}
.high-school-web{
  width: 700px;
  height: 497px;
}
.project-img-div-long {
  margin: 40px 0px 20px 0px;
  overflow: visible;
  direction: rtl; 
  position: relative; 
  zoom: 50%; 
}

.main {
	margin-left: 456px;
	width:700px;
  margin-top: 100px;
}
h3{
  font-family: "Montserrat-Regular","Montserrat";
  font-size: 32px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
}
.december-2016 {
  height: 49px;
  opacity: 0.52;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #44424d;
}
.section-title {
	margin-top: 72px;
	font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: 1.4px;
  color: #44424d;
  font-family: "Montserrat-Regular","Montserrat";
  text-transform: uppercase;
  margin-bottom: -60px;
}
.section-title1{
  font-family: "Montserrat-Regular","Montserrat";
  font-size: 36px;
  height: 45px;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: #44424d;
  margin: 30px 0 20px 0;
  display: inline;
}
.img{
  zoom:50%;
}
.hd{
  margin-right: -300px;
}
.section-sub-title {
  font-family: "Montserrat-Regular","Montserrat";
	font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #44424d;
  margin-top: 72px;
  margin-bottom: 12px;
}
.previous-page {
  display:inline-block;
  position: absolute;
  left: 500px;
  font-size: 14px;
  font-family: "Montserrat";
  color: #44424d;
}
.next-page {
  display:inline-block;
  position: absolute;
  right: 12%;
  text-align:right;
  font-size: 14px;
  font-family: "Montserrat";
  color: #44424d;
}
.project-index {
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  opacity: 0.52;
}

.pager-holder {
  padding: 36px 0px;
}

.project-name {
  display: inline-block;
}

.project-arrow-reverse,
.project-arrow {
  display: inline-block;
  transition: all 0.5s linear;
  position: relative;
  left: 0px;
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  color: #222222;
  height: 9px;
  width: 9px;
}

.project-arrow {
  transform: rotate(135deg);
  margin-left: 4px;
}

.project-arrow-reverse {
  transform: rotate(-45deg);
  margin-right: 4px;
}

.previous-page:hover .project-arrow-reverse {
  left: -10px;
}

.next-page:hover .project-arrow {
  left: 10px;
}
.highlight-general,
.highlight-newyear,
.link-to-newyear:hover .project-name {
  background: -moz-linear-gradient(left, rgba(185,216,254,0.5) 50%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(185,216,254,0.5) 50%, rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(185,216,254,0.5) 50%, rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 600% 600%;
  -webkit-animation: Gradient 1s ease;
  -moz-animation: Gradient 1s ease;
  animation: Gradient 1s ease; 
  opacity: 50%;
}
.highlight-graphic,
.link-to-graphic:hover .project-name{
  background: -moz-linear-gradient(left, rgba(240,220,221,0.8) 50%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(240,220,221,0.8) 50%, rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(240,220,221,0.8) 50%, rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 600% 600%;
  -webkit-animation: Gradient 1s ease;
  -moz-animation: Gradient 1s ease;
  animation: Gradient 1s ease;
}
.highlight-fruito,
.link-to-fruito:hover .project-name{
  background: -moz-linear-gradient(left, rgba(207,239,236,1) 50%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(207,239,236,1) 50%, rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(207,239,236,1) 50%, rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 600% 600%;
  -webkit-animation: Gradient 1s ease;
  -moz-animation: Gradient 1s ease;
  animation: Gradient 1s ease;
}
.highlight-palmdrive,
.link-to-palmdrive:hover .project-name{
  background: -moz-linear-gradient(left, rgba(159,230,215,0.5) 50%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(159,230,215,0.5) 50%, rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(159,230,215,0.5) 50%, rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 600% 600%;
  -webkit-animation: Gradient 1s ease;
  -moz-animation: Gradient 1s ease;
  animation: Gradient 1s ease;
}
.highlight-transaction,
.link-to-transaction:hover .project-name{
  background: -moz-linear-gradient(left, rgba(197,191,222,0.4) 50%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(197,191,222,0.4) 50%, rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(197,191,222,0.4) 50%, rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 600% 600%;
  -webkit-animation: Gradient 1s ease;
  -moz-animation: Gradient 1s ease;
  animation: Gradient 1s ease;
}
.little-blue-blink{
  position: relative;
  padding-top: 80px;
  padding-bottom: 120px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: 2px;
  color: #44424d;
  margin: 30px 0 5px 0;
  font-style: italic;
}
.lbb{
  margin-top: -20px;
}

.palmdrive-intro-wrap {
  overflow: visible;
  position: relative; 
  direction: rtl;
  z-index: -1;
}
.palmdrive-intro-img {
  height: 700px;
  width: 900px;
  margin: 41px 0px; 
  position: relative; 
}
.first-word {
  font-size: 36px;
  font-weight: bold;
}
.intro-how {
  margin-top: -680px;
  width: 337px;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #44424d;
}
.rectangle-division {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 60px;
  height: 90px;
  border-left: solid 1px #44424d;
  border-bottom: solid 1px #44424d;

}
.intro-with {
  margin-left: 80px;
  margin-top: -35px;
  width: 533px;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #44424d;
}
.green-circle {
  width: 230px;
  height: 230px;
  object-fit: contain;
  background-color: #5fbdc0;
  border-radius: 50%;
  margin-top: -488px;
  margin-left: 40%;
}
.palmdrive-laptop {
  margin-top: -520px;
  margin-left: 47%;
}
.blue-circle {
  margin-top: -224px;
  margin-left: 77%;
  width: 129px;
  height: 129px;
  background-color: #456cd3;
  border-radius: 50%;
}
.palmdrive-browser {
  margin-left: -20%;
  margin-top: 332px;
}

.fruito-intro-wrap {
  overflow: visible;
  position: relative; 
  z-index: -1;
  width: 1000px;
  margin-left: -166px;
}
.fruito-intro-img {
  height: 1000px;
  width: 900px;
  margin: 41px 0px; 
  position: relative; 
}
.intro-how-fruito {
  margin-top: -980px;
  width: 300px;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  color: #44424d;
}
.fruito-display-wrap {
  margin-top: -450px;
  margin-left: 42%;
}
.fruito-display-1 {
  z-index: 2;
  position: relative;
}
.fruito-display-2 {
  margin-left: -440px;
  margin-top: -200px;
  z-index: 1;
  position: relative;
}
.slider {
  margin-left: -110px;
  width: 784px;
  margin-top: 50px;
}
.slider-wrap {
  padding: 10%;
}
.fruito-laptop {
  margin-left: -2%;
  width: 724px;
  height: 454px;
  margin-top: -441px;
  z-index: -1;
  position: relative;
  background-size: 720px 460px;
  padding: 80px 150px;
}
.slick-prev:before, .slick-next:before {
display: none;
}
.fruito-slick-title {
  font-size: 36px;
  height: 49px;
  /*font-weight: bold;*/
  font-family: "Montserrat-Regular","Montserrat";
}
.fruito-slick-subtitle {
  /*font-weight: bold;*/
  margin-top: 12px;
  font-family: "Montserrat-Regular","Montserrat";
  font-size: 13px;
  line-height: 24px;
}
.fruito-slick-content {
  font-size: 13px;
  line-height: 24px;

}
.fruito-bg-1 {
  background-image: url("/fruito/bg-1@2x.png");
}
.fruito-bg-2 {
  background-image: url("/fruito/bg-2@2x.png");
}
.fruito-bg-3 {
  background-image: url("/fruito/bg-3@2x.png");
}
.fruito-bg-4 {
  background-image: url("/fruito/bg-4@2x.png");
  
}
.fruito-mobile {
  margin-left: -13%;
  height: 800px;
}
.slick-dots {
  bottom: 100px;
}
.slider-text {
  margin-left:600px;
  margin-top: 400px;
}
@media (max-width: 767px){
  .side-bar {
    display: none;
  }

  .main {
    margin-left: 10%;
  }

  img {
  	width: 100%;
  }
  .previous-page{
    display: none;
  }
}
