
.Looking-for-full-tim {
	padding-top: 25px;
  width: 75%;
  height: 58px;
	font-family: 'Montserrat-Regular', "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
}



.about-footer-info {
	display:inline-block;
	padding-top: 26px;
  padding-bottom: 120px;
}

.about-footer-info-email {
	display:inline-block;
	width: 292px;
}

.about-footer-info-location {
	display:inline-block;
	width: 209px;
  padding-top: 26px;
}

.about-footer-info-icon {
	padding-right: 12px;
  zoom: 50%;
}

.about-footer-info-name-text {
	font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #44424d;
}

.about-footer-info-content-text {
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
}
