.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.header-nav {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #ccc;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.profile {
  width: 48%;
  margin: 0px auto;
  padding: 80px 15px 20px;
}
.divider{
  display: flex;
  flex-direction: row;
  margin-left: 35%;
  width: 30%;
  margin-top: 75px;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #44424d;
  justify-content: space-between;
}
.Hi-Im-Yun {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #44424d;
}

.UI-designer-Be {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #44424d;
}
.quote {
  margin-left: -49px;
  margin-top: -20px;
  margin-right: 10px;
  width: 29px;
  height: 20px;
  object-fit: contain;
}

.sns-section {
  display: inline-block;
}
.sns-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;

}
.project-section {
  height: 550px;
  width: 1280px;
  margin: 20px 3%;
  width: 94%;
  padding: 58px 5%;
}

.highlight {
  background: -moz-linear-gradient(left, rgba(185,216,254,1) 50%, rgba(255,255,255,1) 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(185,216,254,1) 50%, rgba(255,255,255,1) 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(185,216,254,1) 50%, rgba(255,255,255,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 600% 600%;
  -webkit-animation: Gradient 6s ease;
  -moz-animation: Gradient 6s ease;
  animation: Gradient 6s ease;
}

.project-new-year-section-deprecated-2:hover {
  /*background-image:radial-gradient(circle at 30px 50px,#b9d8fe 30%,#fff 40%);*/
  -webkit-animation: Radial 2s;
  -moz-animation: Radial 2s ease;
  animation: Radial 2s ease;
  /*background-color: #b9d8fe;*/

}
.project-section {
  /*background-color: #b9d8fe;*/
  overflow:hidden;
}
.project-section .background-cloud{
  /*background-color: #b9d8fe;*/
  overflow:hidden;
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -webkit-transition:all .5s cubic-bezier(.55,.06,.68,.19) 0s;
  -moz-transition:all .5s cubic-bezier(.55,.06,.68,.19) 0s;      
  transition:all .5s cubic-bezier(.55,.06,.68,.19) 0s;
}
.project-section:hover .background-cloud{
  -webkit-transform:scale(5);
  -moz-transform:scale(5);
  -ms-transform:scale(5);
  transform:scale(5);
  -webkit-transition:all .5s cubic-bezier(.55,.06,.68,.19) 0s;
  -moz-transition:all .5s cubic-bezier(.55,.06,.68,.19) 0s;      
  transition:all .5s cubic-bezier(.55,.06,.68,.19) 0s;

}
/*圆形发散*/
@keyframes Radial { 
  0%{background-image:radial-gradient(circle at 300px 200px,#b9d8fe 30%,#fff 70%);}
  30%{background-image:radial-gradient(circle at 300px 200px,#b9d8fe 50%,#fff 70%);}
  100%{background-image:radial-gradient(circle at 300px 200px,#b9d8fe 60%,#fff 70%);}
}
/*渐变色*/
@keyframes RadialColor { 
  0%{background-image:radial-gradient(#b9d8fe 30%);}
  20%{background-image:radial-gradient(#b9d8fe 50%);}
  40%{background-image:radial-gradient(#b9d8fe 70%);}
  60%{background-image:radial-gradient(#b9d8fe 90%);}
  80%{background-image:radial-gradient(#b9d8fe 100%);}
  100%{background-color: #b9d8fe;}
}
/*颜色从左到右平铺*/
@keyframes Gradient { 
  0%{background-position:100% 50%}
  50%{background-position:40% 50%}
  100%{background-position:20% 50%}
}
.project-image {
  width: 100%;
  margin-top: -450px;
  position: relative;
}
.background-cloud {
  position: relative;
}
.green-cloud {
  transform: rotate(176deg);
  fill: #9fe6d7;
}
.purple-cloud {
  transform: rotate(-205deg);
  fill: #c5bfde;
}
.img-block {
  float: left;
  width: 50%;
}
.text-block {
  left: 8%;
  position: relative;
  float: right;
  width: 50%;
  text-align: left;
}
.project-title {
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #44424d;
}
.project-description {
  margin-top:50px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #44424d;
}
.view-case-description {
  display: inline-block;

}
.view-case {
  margin-top:145px;
  font-size: 14px;
  font-weight: 500;
  color: #44424d;
  cursor: pointer;
  cursor: hand;
}
.view-case-arrow {
  line-height: 14px;
  vertical-align: middle;
  /*border-bottom: solid 1px #44424d;*/
  height: 1px;
  margin-left: 10px;
  display: inline-block;
  width: 30px;
  border-top: solid 1px #44424d;
}

.view-case:hover .view-case-arrow {
  line-height: 14px;
  display: inline-block;
  width: 50px;
}
.view-case-arrow-head {
  display: inline-block;
  font-weight: 500;
  vertical-align: middle;
}
.graphic-label {
  color: white;
  background-color: #44424d;
  position: relative;
  font-size: 28px;
  font-weight: 500;
  margin-top: -350px;
  width: 260px;
  margin-left: 160px;
}
.Footer {
  margin-top: 100px;
  width: 100%;
  padding: 3%;
  text-align: right;
  font-size: 14px;
  background-color: rgba(68,66,77,0.1);
  /*opacity: 0.1;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 767px){
  .profile {
    width: 90%;
  }
  .project-section {
    width: 90%;

  }
  .text-block {
    width: 90%;
  }
  .image-block {

  }
  .project-image {

  }
  
}