body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(/montserrat/Montserrat-Bold.ttf);
}
@font-face{
	font-family: Montserrat-Regular;
    src: url(/montserrat/Montserrat-Regular.ttf);
}
